<!-- Creator: Joseph G Mbugua -->
<!-- Github: https://github.com/jkibasui -->
<svg id="kenyan_map" data-name="Counties in Kenya" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
  style="width: 100%; height: 100%">
  <path *ngFor="let coordinate of coordinates;let i = index" [attr.id]="coordinate.id"
    [attr.data-name]="coordinate.name" [attr.d]="coordinate.d" [attr.transform]="coordinate.transform"
    [attr.fill]="coordinate.fillCountyColor" [attr.stroke]="coordinate.strokeColor"
    (click)="onkenyaMapClick(coordinate)">
  </path>
  <circle *ngIf="xPosition != 0" [attr.cx]="xPosition" [attr.cy]="yPosition" r="5" stroke-width="3" fill="red" />
  <line *ngIf="xPosition != 0" [attr.x1]="xPosition" [attr.y1]="yPosition" x2="600" y2="100" stroke="red" />
  <foreignObject *ngIf="xPosition != 0" x="600" y="100" #tooltip class="map-tooltip" width="80" height="350"
    fill="#ffffff" color="#ffffff" style="position: absolute;">
    <table class="table table-responsive table-stripped center">
      <tr>
        <th colspan="2">{{tooltipData.countyName}}&nbsp;&nbsp;({{tooltipData.countyID}})</th>
      </tr>
      <tr *ngFor="let item of tooltipData.custom | keyvalue ">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </table>
  </foreignObject>

</svg>